body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
.playerbody {
  color: #fff;
  padding: 40px 0 0 0;
}
.pageDiv{
  text-align:center;
}
.listarea{
  height: 470px;
  color:#555555;
  padding: 0 0 0 0;
}
